<h2>Your medication</h2>
<script type="module" src="./main.js"></script>
<form id="new_medicine_form">
    <label for="name">Medicine name: </label>
    <input type="text" id="name" name="name">
    <label for="quantity" name="quantity">Quantity: </label>
    <input type="number" id="quantity" name="quantity" min="0">
    <label for="dose">Dose Unit: </label>
    <select name="dose" id="dose">
        <option value="mg">milligram /mg</option>
        <option value="ml">milliliter /ml</option>
        <option value="drops">Drops</option>
        <option value="inhalation">Inhalation</option>
    </select>
    <button type=button" id="new_medicine_form_button">Add</button>
</form>
<table id="current__medicines__table">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Unit</th>
        <th>Remove</th>
    </tr>
</table>