html,
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* header */

.header {
    background-color: rgb(71, 117, 242);
    color: white;
    margin: 0;
    padding: 0.5rem;
}

.header p {
    font-weight: bold;
}

/* Medicines table */

.new__medicines {
    background-color: rgb(84, 45, 225);
    color: white;
    margin-top: 1rem;
    padding: 0.5rem;
}

.new__medicines label {
    font-weight: bold;
}

.new__medicines table {
    margin: auto;
    margin-top: 1rem;
    border-spacing: 0;
}

.new__medicines table th {
    width: 10%;
}

.new__medicines table td {
    padding: 0;
}

#new_medicine_form {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}



@media only screen and (max-width: 600px) {
    #new_medicine_form {
        flex-direction: column;
    }
}

/* Alerts */

.medicines__alerts {
    background-color: rgb(150, 45, 225);
    color: white;
    margin-top: 1rem;
    padding: 0.5rem;
}

#medication__alerts__form {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}

#medication__alerts__form label {
    font-weight: bold;
}

.medicines__alerts table {
    margin: auto;
    margin-top: 1rem;
    border-spacing: 0;
}

.medicines__alerts table th {
    width: 10%;
}

.medicines__alerts table td {
    padding: 0;
}

@media only screen and (max-width: 600px) {
#medication__alerts__form {
    flex-direction: column;
}
}