html, body
{
    margin: 0;
    padding: 0;
    text-align: center;
}

/* header */

.header {
    background-color:rgb(71, 117, 242);
    color: white;
    margin: 0;
    padding: 0.5rem;
}

.header p {
    font-weight: bold;
}

/* Medicines table */

@media only screen and (max-width: 600px) {
    
}